language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t rjustin/fibo-client-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true rjustin/fibo-client-test npm run test -- --coverage

after_success:
  - docker build -t rjustin/fibo-client ./client
  - docker build -t rjustin/fibo-nginx ./nginx
  - docker build -t rjustin/fibo-server ./server
  - docker build -t rjustin/fibo-worker ./worker
  # Log in to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Take those images and push them to docker hub
  - docker push rjustin/fibo-client
  - docker push rjustin/fibo-nginx
  - docker push rjustin/fibo-server
  - docker push rjustin/fibo-worker

  deploy:
    provider: elasticbeanstalk
    region: "ap-southeast-1"
    app: "multi-docker"
    env: "MultiDocker-env"
    bucket_name: "elasticbeanstalk-ap-southeast-1-345793212662"
    bucket_path: "multi-docker"
    on:
      branch: master
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY